@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brutalBlack text-brutalWhite font-sans antialiased overflow-x-hidden;
  }

  /* Hide scrollbar for that clean, app-like navigation */
  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}